* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #222;
}
.courselist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .courselist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.course {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.course img {
  width: 100%;
  object-fit: cover;
}
.course h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: red;
  color: #fff;
}
